<div class="row">

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-2 text-center">Time Articles</h1>
	  </div>
	   <p  class="lead text-center">This site let your read and comment on the latest time.com articles.</p>
	 </div>
</div>	 